@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the global background color */
html, body {
    background-color: #000; /* Black */
    /* background-color: #001f3f; Navy Blue */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
.text-stroke-green-to-black {
  -webkit-text-stroke: 1px #39FF14; /* Thin green stroke */
  -webkit-text-fill-color: transparent; /* Transparent fill for text */
  text-shadow: 0 0 8px #39FF14, 0 0 5px black; /* Glow effect transitioning from green to black */
}
  